@charset "utf-8";
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* 공통css */
.cf:after {
    content: '';
    display: block;
    clear: both;
}
.title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000000;
}
.line {
    display: block;
    width: 29px;
    height: 1px;
    margin: 0 auto;
    margin-top: 33px;
    background: #000;
    opacity: 0.5;
}

/* js이벤트 클래스 */
.scrollOn {
    padding-top: 16px !important;
    background: rgba(255, 255, 255, .9) !important;
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in-element {
    animation: fade-in 1.4s;
}
.hidden-fade-in {
    opacity: 0;
}

@keyframes slide-up {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.slide-up-element {
    animation: slide-up .6s;
}
.hidden-slide-up {
    opacity: 0;
}

@keyframes bg-change {
    from {
        background: url(../images/stage_01.png);
    }
    33% {
        background: url(../images/stage_02.png);
    }
    66% {
        background: url(../images/stage_03.png);
    }
    to {
        background: url(../images/stage_04.png);
    }
}
.hidden-bg-change {
    background: url(../images/stage_04.png);
}
.bg-change-element {
    animation: bg-change 1.2s;
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.hidden-scale {
    transform: scale(0);
}
.scale-element {
    animation: scale .5s;
}

body {
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif, 'dotum', arial;
}
#wrap {
    width: 100%;
    background: url(../images/main_bg_pattern.png);
    background-attachment: fixed;
}

/* 헤더영역 */
.header {
    width: 100%;
    height: 107px;
    background: none;
    /* 포지션 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}
.gnb {
    width: 100%;
    height: 100%;
}
.gnb .logo {
    margin-left: 100px;
    /* 플롯 */
    float: left;
}
.gnb .logo a {
    font-size: 24px;
}
.gnb .logo a strong {
    font-weight: bold;
}
.gnb .gnb_inner {
    width: 100%;
    height: 50px;
    padding-top: 36px;
    transition: all .5s;
}
.gnb_inner ul li a {
    font-size: 10px;
    font-weight: bold;
    color: #999;
    scroll-behavior: smooth;
    transition: all .3s;
}
.gnb_inner ul li a:hover {
    text-decoration: underline;
    color: #000;
}
.gnb_inner .left {
    margin-left: 40px;
    padding: 0;
    /* 플롯 */
    float: left;
}
.gnb_inner .left li {
    margin-right: 15px;
    /* 플롯 */
    float: left;
}
.gnb_inner .right {
    margin-right: 100px;
    padding: 0;
    /* 플롯 */
    float: right;
}
.gnb_inner .right li {
    margin-left: 20px;
    /* 플롯 */
    float: left;
}

/* 디스플레이영역 */
.keyvisual {
    width: 100%;
    height: 760px;
    position: relative;
}
.keyvisual img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* 컨텐츠영역 */
.content_wrap {
    width: 100%;
}

/* about */
.about {
    width: 100%;
    /* 포지션 */
    position: relative;
    z-index: 1;
}
.about_inner {
    width: 1600px;
    height: 412px;
    margin: 0 auto;
    padding: 73px 0 110px 0;
    background: #fff;
    text-align: center;
}
.about_inner .subTitle {
    font-size: 45px;
    font-weight: bold;
    margin-top: 25px;
}
.about_inner p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 2;
    color: #585858;
}

/* invest */
.invest {
    margin-top: -120px;
    padding: 160px 0 200px 0;
    background: #f5f5f5;
}
.invest_inner {
    width: 855px;
    margin: 0 auto;
}
.invest_inner .subTitle {
    font-size: 52px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 18px;
}
.invest_inner .info {
    font-size: 14px;
    margin: 16px 0 0 0;
    color: rgba(0, 0, 0, .7);
    line-height: 2;
}

.invest_inner .focus {
    width: 100%;
    margin-top: 60px;
}
.focus .text {
    width: 50%;
    margin-top: 80px;
    /* 플롯 */
    float: left;
}
.focus .img {
    width: 50%;
    height: 430px;
    /* 플롯 */
    float: right;
    /* 포지션 */
    position: relative;
    left: 0;
    top: 0;
}
.focus .img img {
    position: absolute;
}

/* 이미지 포지션 */
.focus .img img:first-child {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.focus .img img:nth-child(2) {
    left: 176px;
    top: 0;
}
.focus .img img:nth-child(3) {
    left: 337px;
    top: 70px;
}
.focus .img img:nth-child(4) {
    right: 0;
    top: 209px;
}
.focus .img img:nth-child(5) {
    right: 111px;
    bottom: 0;
}
.focus .img img:nth-child(6) {
    left: 100px;
    bottom: 0;
}
.focus .img img:nth-child(7) {
    left: 0;
    top: 216px;
}
.focus .img img:nth-child(8) {
    left: 45px;
    top: 51px;
}

.invest_inner .stage {
    width: 100%;
    padding-top: 150px;
}
.stage .text {
    width: 50%;
    padding-top: 20px;
    padding-left: 120px;
    /* 플롯 */
    float: right;
}
.stage .img {
    width: 340px;
    height: 340px;
    background: url(../images/stage_04.png);
    /* 플롯 */
    float: left;
}

.invest_inner .criteria {
    width: 100%;
    padding-top: 200px;
}
.criteria ul {
    padding: 20px 0 0 16px;
}
.criteria ul li {
    height: 27px;
    list-style: decimal;
    font-size: 14px;
    font-weight: bold;
}
.criteria .text {
    width: 50%;
    /* 플롯 */
    float: left;
}
.criteria .img {
    width: 364px;
    height: 329px;
    margin-top: 60px;
    /* 플롯 */
    float: right;
    position: relative;
}
.criteria .img img {
    position: absolute;
}
.criteria .img img:first-child {
    left: 122px;
    top: 0;
}
.criteria .img img:nth-child(2) {
    left: 0;
    bottom: 0;
}
.criteria .img img:last-child {
    right: 0;
    bottom: 0;
}

/* valueUp */
.valueUp {
    width: 100%;
    background: url(../images/valueUp_bg.png);
    background-size: 100% 100%;
}
.valueUp .inner {
    width: 1000px;
    margin: 0 auto;
    padding: 75px 0 138px;
    text-align: center;
}
.valueUp .subTitle {
    font-size: 44px;
    font-weight: bold;
    margin-top: 70px;
}
.valueUp .ssTitle {
    margin: 0 0 12px;
    font-size: 30px;
    font-weight: bold;
}
.valueUp .ssTitleUnder {
    margin: 0;
    font-size: 16px;
}
.valueUp .info {
    margin: 0;
    padding-top: 70px;
    font-size: 13px;
    line-height: 2;
    opacity: 0.8;
}
.valueUp .text {
    width: 33.3333333333%;
    margin-top: 90px;
    /* 플롯 */
    float: left;
}

/* team */
.team {
    background: linear-gradient(to left, #bdbdbd 0%, #bdbdbd 50%, #2a2a2a 50%, #2a2a2a 100%);
}
.team .inner {
    width: 1200px;
    height: 876px;
    margin: 0 auto;
}
.team .inner .left {
    width: 50%;
    padding: 75px 30px 30px 92px;
    height: 100%;
    /* 플롯 */
    float: left;
}
.team .inner .left .title {
    padding-bottom: 33px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    text-align: left;
}
.team .inner .left .line {
    margin: 0;
    background: #fff;
    opacity: 0.7;
}
.team .inner .left .subTitle {
    margin: 59px 0 0 0;
    font-size: 52px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #fff;
}
.team .inner .left .info {
    margin: 113px 0 0;
    font-size: 14px;
    color: #ccc;
    line-height: 2;
}
.team .inner .right {
    width: 50%;
    /* 플롯 */
    float: left;
}

/* team member */
.team_member {
    width: 100%;
    height: 600px;
    background: #f0f0f0;
}
.team_member .inner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    /* 포지션 */
    position: relative;
}
.team_member .inner .inner_box {
    width: 50%;
    height: 300px;
    /* 포지션 */
    position: absolute;
}
.team_member .inner .inner_box .display {
    opacity: 1;
    transition: all .5s;
}
.team_member .inner .inner_box .display .text {
    padding: 200px 40px 0 0;
    text-align: right;
}
.team_member .inner .inner_box .display .text .name {
    margin: 0 0 14px;
    font-size: 26px;
    font-weight: bold;
}
.team_member .inner .inner_box:nth-child(3) .text {
    padding: 200px 0 0 40px;
    text-align: left;
}
.team_member .inner .inner_box:nth-child(4) .text {
    padding: 200px 0 0 40px;
    text-align: left;
}
.team_member .inner .inner_box .display .text p {
    font-size: 14px;
    font-weight: 500;
}
.team_member .inner .inner_box:nth-child(1) {
    left: 0;
    top: 0;
}
.team_member .inner .inner_box:nth-child(1) .img {
    width: 50%;
    /* 플롯 */
    float: left;
}
.team_member .inner .inner_box:nth-child(1) .text {
    width: 50%;
    /* 플롯 */
    float: right;
}
.team_member .inner .inner_box:nth-child(2) {
    right: 0;
    top: 0;
}
.team_member .inner .inner_box:nth-child(2) .img {
    width: 50%;
    /* 플롯 */
    float: left;
}
.team_member .inner .inner_box:nth-child(2) .text {
    width: 50%;
    /* 플롯 */
    float: right;
}
.team_member .inner .inner_box:nth-child(3) {
    left: 0;
    bottom: 0;
}
.team_member .inner .inner_box:nth-child(3) .img {
    width: 50%;
    /* 플롯 */
    float: right;
}
.team_member .inner .inner_box:nth-child(3) .text {
    width: 50%;
    /* 플롯 */
    float: left;
}
.team_member .inner .inner_box:nth-child(4) {
    right: 0;
    bottom: 0;
}
.team_member .inner .inner_box:nth-child(4) .img {
    width: 50%;
    /* 플롯 */
    float: right;
}
.team_member .inner .inner_box:nth-child(4) .text {
    width: 50%;
    /* 플롯 */
    float: left;
}
.team_member .inner .inner_box .hover {
    opacity: 0;
    transition: all .4s;
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
}
.team_member .inner_box:hover .hover {
    opacity: 1;
}
/* family */
.family {
    width: 100%;
    background: #2a2a2a;
}
.family .inner {
    width: 1600px;
    margin: 0 auto;
}
.family .inner .text .title {
    padding-top: 60px;
    color: rgba(255, 255, 255, .6);
}
.family .inner .text .line {
    background: #fff;
}
.family .inner .text p {
    margin-top: 70px;
    color: #fff;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    line-height: 1;
}
.family .inner .scroll_inner {
    width: 100%;
    height: 653px;
    margin-top: 80px;
    position: relative;
}
.family .inner .scroll_inner .side {
    width: 310px;
    height: 653px;
    padding: 40px 12px 40px 30px;
    background: rgba(42, 42, 42, .8);
    overflow: auto;
    position: absolute;
    right: 200px;
    z-index: 1;
}
.family .inner .scroll_inner .side li {
    width: 100%;
    height: 83px;
    color: rgba(255, 255, 255, .4);
    line-height: 1.5;
    font-size: 12px;
}
.family .inner .scroll_inner .side li strong {
    font-size: 18px;
    font-weight: bold;
}
.family .inner .family_display_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.family .inner .family_display {
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.family .inner .family_display .family_item {
    width: 100%;
    height: 100%;
}
.family .inner .family_display .family_item .family_text {
    width: 1294px;
    height: 100%;
    position: relative;
}
.family .inner .family_display .family_item .family_text .family_logo {
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translateX(-50%);
}
.family .inner .family_display .family_item .family_text .family_info {
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    position: absolute;
    left: 50%;
    top: 370px;
    transform: translateX(-50%);
}

/* bg설정 */
.oasis {
    background: url(../images/oasis_bg.png);
}
.kryptos {
    background: url(../images/kryptos_bg.png);
}
.yanadoo {
    background: url(../images/yanadoo_bg.png);
}
.jason {
    background: url(../images/jason_bg.png);
}
.triller {
    background: url(../images/triller_bg.png);
}
.kopikenangan {
    background: url(../images/kopikenangan_bg.png);
}
.wiip {
    background: url(../images/wiip_bg.png);
}
.devotionfoods {
    background: url(../images/devotionfoods_bg.png);
}
.peoplefund {
    background: url(../images/peoplefund_bg.png);
}
.megazonecloud {
    background: url(../images/megazonecloud_bg.png);
}

/* exits */
.exits {
    width: 100%;
    padding-top: 80px;
    background: #e6e6e6;
}
.exits .inner {
    width: 1090px;
    margin: 0 auto;
    position: relative;
}
.exits .inner .subTitle {
    margin-top: 70px;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}
.exits .inner .slider {
    width: 100%;
    height: 430px;
    padding-top: 100px;
    overflow: hidden;
    position: relative;
}
.exits .inner .slider .slider_list {
    width: 2280px;
    position: absolute;
    left: 0;
    transition: all .5s;
}
.exits .inner .slider .slider_list .slider_item {
    margin-right: 50px;
    float: left;
}
.exits .inner .slider .slider_list .slider_item:nth-child(3) {
    margin-right: 0 !important;
}
.extis .inner .slider .slider_list .slider_item:last-child {
    margin-right: 0 !important;
}
.exits .inner .prev_btn {
    position: absolute;
    left: -60px;
    bottom: 180px;
}
.exits .inner .next_btn {
    position: absolute;
    right: -60px;
    bottom: 180px;
}

/* contact */
.contact {
    width: 100%;
    height: 738px;
    padding-top: 70px;
    background: #2a2a2a;
}
.contact .inner {
    width: 924px;
    margin: 0 auto;
    /* 포지션 */
    position: relative;
}
.contact .inner .title {
    color: rgba(255, 255, 255, .6);
}
.contact .inner .line {
    background: rgba(255, 255, 255, .6);;
}
.contact .inner .subTitle {
    margin: 100px 0 0 0;
    font-size: 48px;
    font-weight: 900;
    color: #fff;
}
.contact .inner .info {
    margin: 38px 0 0 0;
    font-size: 14px;
    color: #979797;
    line-height: 2;
}
.contact .inner .company {
    padding-left: 16px;
    margin-top: 40px;
}
.contact .inner .company li {
    font-size: 14px;
    color: #e0e0e0;
    list-style-type: disc;
}
.contact .inner .company li:first-child {
    margin-bottom: 20px;
}
.contact .inner img {
    position: absolute;
    right: 0;
    top: 140px;
}